USE [master]
GO
/****** Object:  Database [CH_BANDT]    Script Date: 4/29/2022 3:41:17 PM ******/
CREATE DATABASE [CH_BANDT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CH_BANDT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.LOCAL1\MSSQL\DATA\CH_BANDT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CH_BANDT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.LOCAL1\MSSQL\DATA\CH_BANDT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CH_BANDT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CH_BANDT]
GO
/****** Object:  User [XUONGLUONG]    Script Date: 4/29/2022 3:41:17 PM ******/
CREATE USER [XUONGLUONG] FOR LOGIN [XUONGLUONG] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 4/29/2022 3:41:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MA_CV] [int] IDENTITY(1,1) NOT NULL,
	[TEN_CV] [nvarchar](255) NULL,
	[TINHTRANG] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_CV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_HOADON]    Script Date: 4/29/2022 3:41:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HOADON](
	[MA_CT] [int] IDENTITY(1,1) NOT NULL,
	[GIA] [money] NULL,
	[SOLUONG] [int] NULL,
	[MA_HD] [int] NOT NULL,
	[MA_SP] [varchar](255) NOT NULL,
	[TINHTRANG] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHMUCSP]    Script Date: 4/29/2022 3:41:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUCSP](
	[MA_DM] [int] IDENTITY(1,1) NOT NULL,
	[TEN_DN] [nvarchar](255) NOT NULL,
	[TINHTRANG] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_DM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 4/29/2022 3:41:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MA_HD] [int] IDENTITY(1,1) NOT NULL,
	[NGAYMUA] [date] NULL,
	[TONGTIEN] [float] NULL,
	[EMAIL] [nvarchar](255) NOT NULL,
	[TINHTRANG] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 4/29/2022 3:41:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[EMAIL] [nvarchar](255) NOT NULL,
	[TEN_NG] [nvarchar](255) NULL,
	[MA_CV] [int] NULL,
	[MATKHAU] [char](255) NULL,
	[SĐT] [char](20) NULL,
	[DIACHI] [nvarchar](255) NULL,
	[NGAYSINH] [date] NULL,
	[TINHTRANG] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 4/29/2022 3:41:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MA_SP] [varchar](255) NOT NULL,
	[TEN_SP] [nvarchar](255) NOT NULL,
	[GIABAN] [float] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[NGAY_THEMSP] [date] NULL,
	[HINHANH_SP] [nvarchar](255) NULL,
	[TINHTRANG] [bit] NULL,
	[MA_DM] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CHUCVU] ON 

INSERT [dbo].[CHUCVU] ([MA_CV], [TEN_CV], [TINHTRANG]) VALUES (1, N'ADMIN', 1)
INSERT [dbo].[CHUCVU] ([MA_CV], [TEN_CV], [TINHTRANG]) VALUES (2, N'USER', 1)
SET IDENTITY_INSERT [dbo].[CHUCVU] OFF
GO
SET IDENTITY_INSERT [dbo].[CT_HOADON] ON 

INSERT [dbo].[CT_HOADON] ([MA_CT], [GIA], [SOLUONG], [MA_HD], [MA_SP], [TINHTRANG]) VALUES (1, 22000000.0000, 1, 1, N'IP11PM', 1)
INSERT [dbo].[CT_HOADON] ([MA_CT], [GIA], [SOLUONG], [MA_HD], [MA_SP], [TINHTRANG]) VALUES (2, 2000000.0000, 2, 3, N'IP11PM', 1)
INSERT [dbo].[CT_HOADON] ([MA_CT], [GIA], [SOLUONG], [MA_HD], [MA_SP], [TINHTRANG]) VALUES (3, 22000000.0000, 1, 1, N'IP11PM', 1)
SET IDENTITY_INSERT [dbo].[CT_HOADON] OFF
GO
SET IDENTITY_INSERT [dbo].[DANHMUCSP] ON 

INSERT [dbo].[DANHMUCSP] ([MA_DM], [TEN_DN], [TINHTRANG]) VALUES (1, N'IPHONE', 1)
INSERT [dbo].[DANHMUCSP] ([MA_DM], [TEN_DN], [TINHTRANG]) VALUES (2, N'MACBOOK', 1)
INSERT [dbo].[DANHMUCSP] ([MA_DM], [TEN_DN], [TINHTRANG]) VALUES (3, N'TABLET', 1)
SET IDENTITY_INSERT [dbo].[DANHMUCSP] OFF
GO
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MA_HD], [NGAYMUA], [TONGTIEN], [EMAIL], [TINHTRANG]) VALUES (1, CAST(N'2022-01-13' AS Date), 22000000, N'xuongluong123@gmail.com', 1)
INSERT [dbo].[HOADON] ([MA_HD], [NGAYMUA], [TONGTIEN], [EMAIL], [TINHTRANG]) VALUES (2, CAST(N'2022-01-13' AS Date), 22000000, N'xuongluong123@gmail.com', 1)
INSERT [dbo].[HOADON] ([MA_HD], [NGAYMUA], [TONGTIEN], [EMAIL], [TINHTRANG]) VALUES (3, CAST(N'2022-01-14' AS Date), 60000000, N'xuongluong123@gmail.com', 1)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
GO
INSERT [dbo].[NGUOIDUNG] ([EMAIL], [TEN_NG], [MA_CV], [MATKHAU], [SĐT], [DIACHI], [NGAYSINH], [TINHTRANG]) VALUES (N'admin.com', N'Admin', 1, N'123456                                                                                                                                                                                                                                                         ', N'01234556            ', N'Nhà Bè', CAST(N'2022-12-11' AS Date), 1)
INSERT [dbo].[NGUOIDUNG] ([EMAIL], [TEN_NG], [MA_CV], [MATKHAU], [SĐT], [DIACHI], [NGAYSINH], [TINHTRANG]) VALUES (N'luongvanxuong@gmail.com', N'Lương Văn Xưởng', 1, N'123456                                                                                                                                                                                                                                                         ', N'0938163410          ', N'HCM', CAST(N'2022-10-02' AS Date), 1)
INSERT [dbo].[NGUOIDUNG] ([EMAIL], [TEN_NG], [MA_CV], [MATKHAU], [SĐT], [DIACHI], [NGAYSINH], [TINHTRANG]) VALUES (N'phamvanminhnhat@gmail.com', N'Phạm Văn Minh Nhật', 1, N'123456                                                                                                                                                                                                                                                         ', N'0909111888          ', N'Đào Tống Nguyên', CAST(N'2022-12-25' AS Date), 1)
GO
INSERT [dbo].[SANPHAM] ([MA_SP], [TEN_SP], [GIABAN], [SOLUONG], [NGAY_THEMSP], [HINHANH_SP], [TINHTRANG], [MA_DM]) VALUES (N'AAP3', N'Tai nghe Bluetooth Apple Airpod 3', 4600000, 70, CAST(N'2021-11-09' AS Date), N'Tai nghe Bluetooth Apple Airpod 3.jpg', 1, 4)
INSERT [dbo].[SANPHAM] ([MA_SP], [TEN_SP], [GIABAN], [SOLUONG], [NGAY_THEMSP], [HINHANH_SP], [TINHTRANG], [MA_DM]) VALUES (N'ABP', N'Bàn phím Apple Magic Keyboard', 12000000, 9, CAST(N'2021-11-09' AS Date), N'Bàn phím Apple Magic Keyboard.jpg', 1, 4)
INSERT [dbo].[SANPHAM] ([MA_SP], [TEN_SP], [GIABAN], [SOLUONG], [NGAY_THEMSP], [HINHANH_SP], [TINHTRANG], [MA_DM]) VALUES (N'AS30W', N'Sạc Apple 30W', 500000, 99, CAST(N'2021-11-09' AS Date), N'Sạc Apple 30W.jpg', 1, 4)
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD FOREIGN KEY([MA_HD])
REFERENCES [dbo].[HOADON] ([MA_HD])
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD FOREIGN KEY([MA_SP])
REFERENCES [dbo].[SANPHAM] ([MA_SP])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([EMAIL])
REFERENCES [dbo].[NGUOIDUNG] ([EMAIL])
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD FOREIGN KEY([MA_CV])
REFERENCES [dbo].[CHUCVU] ([MA_CV])
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD FOREIGN KEY([MA_DM])
REFERENCES [dbo].[DANHMUCSP] ([MA_DM])
GO
USE [master]
GO
